
@tailwind base;
@tailwind components;
@tailwind utilities;

/* defaulted dark mode - already implemeted globally using _app.tsx */
/* :root {
  --background: #252526;
  --foreground: #f5f5f5;
} */

/* @media (prefers-color-scheme: dark) {
  :root { 
    --background: #22272d;
    --foreground: #ededed;
  }
} */

body {
  margin: 0;
  color: var(--foreground);
  background: var(--background);
  font-family: 'Inter', sans-serif;
}

/* Specific font weights */
.font-regular {
  font-weight: 400;
}

.font-semibold {
  font-weight: 600;
}

/* for input types in login */
input:-webkit-autofill {
  background-color: #374151 !important; 
  color: white !important;
  -webkit-box-shadow: 0 0 0 30px #374151 inset !important;
  -webkit-text-fill-color: white !important;
}

.swal2-popup {
  z-index: 9999 !important;
}

.MuiDialog-root {
  z-index: 999 !important;
}