@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  font-family: 'Montserrat', sans-serif;
}

/* for input types in login */
input:-webkit-autofill {
  background-color: #282828 !important; 
  color: white !important;
  -webkit-box-shadow: 0 0 0 30px #282828 inset !important;
  -webkit-text-fill-color: white !important;
} 

.swal2-backdrop-show {
  z-index: 999999 !important;
}

.MuiChartsAxis-tick text:empty {
  display: none !important;
}

.no-hover:hover {
  background-color: #f0f0f0 !important;
  color: #212121 !important;
}

.MuiFormLabel-root.MuiInputLabel-root.Mui-error {
  color: #FF7A7A !important;
}