@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  font-family: 'Montserrat', sans-serif;
}

.swal2-backdrop-show {
  z-index: 999999 !important;
}

.MuiChartsAxis-tick text:empty {
  display: none !important;
}

.no-hover:hover {
  background-color: #f0f0f0 !important;
  color: #212121 !important;
}

.MuiFormLabel-root.MuiInputLabel-root.Mui-error {
  color: #CE1126 !important;
}

input, select {
  border-radius: 0.4rem !important;       /* Rounded corners */
  background-color: transparent !important; /* Transparent fill */
  color: inherit;                          /* Inherit text color from parent */
}

select option:disabled {
  color: #9CA3AF !important; /* Tailwind's text-gray-400 */
}

/* Target react-select control for transparency */
.react-select__control {
  background-color: transparent !important;  /* Transparent background */
  border-radius: 0.4rem !important;          /* Rounded corners */
  border: 1px solid rgba(0, 0, 0, 0.23) !important;      /* Set border color */
}

/* Handle the hover state for react-select control */
.react-select__control:hover {
  background-color: transparent !important;  /* Ensure background stays transparent on hover */
  border-color: #0038A8 !important;          /* Border color on hover */
}

/* Handle focus state for react-select control */
.react-select__control--is-focused {
  background-color: transparent !important;  /* Keep transparent background on focus */
  border-color: #0038A8 !important;          /* Set focus border color */
}

/* Error state for react-select */
.react-select__control--is-invalid {
  border-color: #CE1126 !important;          /* Red border on error */
  font-size: 12px !important;             /* Font size for error message */
}

/* Adjust dropdown option styles */
.react-select__option {
  background-color: transparent !important;  /* Transparent background for options */
  color: inherit !important;                  /* Inherit text color */
}

.react-select__option--is-selected {
  background-color: #0038A8 !important;      /* Highlight color when selected */
  color: white !important;
}

/* Target the multi-value label (the label of the selected items in multi-select) */
.react-select__multi-value__label {
  background-color: #0038A8 !important;  /* Transparent background */
  color: white !important;                 /* Inherit text color */
  border-radius: 0.4rem !important;          /* Rounded corners */
  font-size: 12px !important;
  padding: 1px 6px !important; /* Top/Bottom 10px, Left/Right 5px */
}

.react-select__multi-value {
  background-color: #0038A8 !important;      /* Highlight color when selected */
  color: white !important;
}





